<div id="f_idea">
<div id="f_milestones">
<%= form_for(@milestone) do |f| %>
  <% if @milestone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@milestone.errors.count, "error") %> prohibited this milestone from being saved:</h2>

      <ul>
      <% @milestone.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" id="summary">
    <%= f.label :summary, "Milestone Description" %><br />
    <%= f.text_area :summary %>
  </div>  

  <div class="field" id="datetime">
    <%= f.label :due, "Date Due" %><br />
    <%= f.datetime_select :due %>
  </div>
  
  <div class="field" id="complete">
    <%= f.label :complete, "Complete Percentage" %><br />
    <%= f.select(:complete, (0..100)) %>
    <span>%</span>
  </div>

  <%= f.hidden_field :idea_id, :value => @idea.id %>

  <div class="clear"></div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
</div>