<div id="big_idea">
  <div class="actions">
    <%= link_to 'Return to Ideas', ideas_path %>
  </div>
  <div class="articles">
    <div id="idea_map">
      <%= build_idea_map(@idea.id) %>
    </div> 
    
    <div id="idea_info"> 
      <h1><%= @idea.title %></h1>
      <h2>Why is it useful?</h2>
      <p><%= @idea.statement %></p>
      <h2>How does it work?</h2>
      <p><%= @idea.summary %></p>
      <div class="actions" style="float: right">
        <% if current_user.id == @idea.user.id %>
          
          <%= link_to edit_idea_path(@idea) do  %> 
            <img src='/images/ico_edit.png' />
          <% end %>
          
          <%= link_to @idea, :confirm => 'Are you sure you want to delete? This cannot be undone!', :method => :delete do  %> 
            <img src='/images/ico_delete.png' />
          <% end %>

        <% end %>
      </div>
    </div>
    
    <div id="idea_questions">
      <h1>Feedback</h1>
      <h2>Questions &amp; Answers</h2>
      <ul>
        <% questions = Question.where(:idea_id => @idea.id).each do |q| %>
            <li><%= q.title %>
              
              <% if q.answer != nil %>
                <blockquote>
                  <%= q.answer %>
                </blockquote>
              <% end %>              
              
              <% if current_user.id == @idea.user.id %>
                <div class="actions">
                  <%= link_to 'Answer', edit_question_path(q) %> | 
                  <%= link_to 'Delete', q, :confirm => 'Are you sure?', :method => :delete %>
                </div>
              <% end %>              
    
            </li>       
        <% end %>
        <% if questions.empty? %>
          No questions yet, start us off by <a href="/questions/new/<%= @idea.id %>">asking one</a>.
        <% end %>
      </ul>
      <div class="f_actions">
        <%= link_to new_question_path(@idea.id) do  %> 
          <img src='/images/ico_register.png' /> Post Question
        <% end %>
      </div>
    </div>
  
    <div class="clear"></div>
  </div>
</div>