<div id="f_idea">
  <%= form_for(@subidea) do |f| %>
    <% if @subidea.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@subidea.errors.count, "error") %> prohibited this subidea from being saved:</h2>
  
        <ul>
        <% @subidea.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title, :id => "idea_title" %>
    </div>
    <div class="field">
      <%= f.label :summary %><br />
      <%= f.text_area :summary, :id => "idea_summary" %>
    </div>
    <%= f.hidden_field :idea_id, :value => @idea.id %>
    <%= f.hidden_field :parent_id, :value => params[:parent_id] %>
    <input type="hidden" name="ico_type" value="<%= @ico_type %>" />
    <input type="hidden" name="cellw" value="<%= @cellw %>" />
    <input type="hidden" name="cellh" value="<%= @cellh %>" />
    <input type="hidden" name="dir" value="<%= @dir %>" />
    <input type="hidden" name="extra" value="<%= @p %>" />
    
    <div class="clear"></div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
