<div id="big_idea">
  <div class="actions">
    <%= link_to 'Return to Main Idea', @subidea.idea %>
  </div>
  <div class="articles">  
    <div id="idea_map">
      <%= build_idea_map(@subidea.idea.id) %>
    </div>   
    <div id="idea_info"> 
      <h1><%= link_to @subidea.idea.title, @subidea.idea %></h1>
      
      <div class="actions" style="float: right; position: relative; top: -15px;">
        <% if current_user.id == @subidea.idea.user.id %>
          
          <%= link_to edit_subidea_path(@subidea) do  %> 
            <img src='/images/ico_edit.png' />
          <% end %>
          
          <%= link_to @subidea, :confirm => 'Are you sure you want to delete? This cannot be undone!', :method => :delete do  %> 
            <img src='/images/ico_delete.png' />
          <% end %>
          
        <% end %>
      </div>      
      
      <h2><%= @subidea.title %></h2>
      
      <p><%= @subidea.summary %></p>
      
    </div>
  
    <div class="clear"></div>
  </div>
</div>