<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Inspirovation - idea curation and repository</title>
        <%= stylesheet_link_tag :all %>
        <%= javascript_include_tag :defaults %>
        <%= csrf_meta_tag %>
        <%= yield(:head) %>
    </head>
    
    <body>
      <!-- Begin Header -->
      <div id="header_container">
          <div id="header">
              <div id="logo">
                  <a href="/"><img src="/images/logo.png" title="Inspirovation.com - ideas.curated" /></a>
                </div>
                <div id="total">
                  <%= pluralize(Idea.count, "active idea") %> available and counting.
                </div>
                <div class="clear"></div>
            </div>
            <div id="dashboard">
              <div id="actions">
                  <%= 
                  if user_signed_in?
                    link_to 'Create', new_idea_path
                  else
                    link_to "Create", new_user_session_path
                  end   
                  %> 
                  / 
                  <%=
                  if user_signed_in?
                    link_to "Discover", home_path('coming_soon')
                  else
                    link_to "Discover", home_path('coming_soon')
                  end
                  %>
                  / 
                  <%=
                  if user_signed_in?
                    link_to "Develop", home_path('coming_soon')
                  else
                    link_to "Develop", home_path('coming_soon')
                  end
                  %>
                </div>
                <div id="icons">
                  <% if user_signed_in? %>
                    <%= link_to edit_user_registration_path do  %> 
                      <img src='/images/ico_settings.png' /> Settings
                    <% end %>
                    |
                    <%= link_to destroy_user_session_path do  %> 
                      <img src='/images/ico_unlock.png' /> Logout
                    <% end %>
                  <% else %>
                    <%= link_to new_user_session_path do  %> 
                      <img src='/images/ico_lock.png' /> Login
                    <% end %>
                    | 
                    <%= link_to new_user_registration_path do  %> 
                      <img src='/images/ico_register.png' /> Sign Up
                    <% end %>
                  <% end %>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <!-- End Header -->
        <!-- Begin Content -->
        <div id="clearall"></div>
        <div id="content_container">
            <ul id="nav">
              <li><%= link_to "Business", home_path('coming_soon') %></li>
                <li><%= link_to "Application", home_path('coming_soon') %></li>
                <li><%= link_to "Entertainment", home_path('coming_soon') %></li>
            </ul>
            <div id="search">
                <form method="post" action="">
                    <input class="text" type="text" value="" />
                    <input class="submit" type="submit" value="Search" disabled="true" />
                </form>
            </div>
            <div class="clear"></div>
            <p class="notice"><% notice %></p>
            <p class="alert"><% alert %></p>
            <div id="content"><%= yield %></div>
        </div>
        <!-- End Content -->
        <!-- Begin Footer -->
        <div class="clear"></div>
        <div id="footer">
          <div class="icons">
            <a href="http://twitter.com/drewry" target="_blank"><img src="/images/twitter_32.png"></a>
            <a href="mailto: dhmorris@gmail.com" target="_blank"><img src="/images/email_32.png"></a>
          </div>
          Inspirovation &copy; 2010.  All Rights Reserved.
        </div>
        <!-- End Footer -->
    </body>
</html>